[View in Colaboratory](https://colab.research.google.com/github/sleepless-se/python_reference/blob/master/json_to_dataframe.ipynb)

In [0]:
import json
import pandas as pd

input_data='''[ {
  "tag" : "li",
  "iid" : "size",
  "style" : null,
  "text" : null,
  "href" : null,
  "label" : null,
  "x" : 0,
  "y" : 0,
  "height" : 0,
  "width" : 0
}, {
  "tag" : "div",
  "iid" : "color",
  "style" : null,
  "text" : null,
  "href" : null,
  "label" : null,
  "x" : 0,
  "y" : 0,
  "height" : 0,
  "width" : 0
} ]'''

テキスト形式のJsonをJsonクラスに変換し、Pandasで読み込みDataFrameに変換します。

In [11]:
print(input_data)
def json_to_row(input_data:str)->:
    json_data = json.loads(input_data)
#     for data in json_data:
#       print("json_data:\n{}".format(data))
#       data = [data]
    panda_data = pd.DataFrame.from_dict(json_data, orient='columns')
    return panda_data

panda_data = json_to_row(input_data)
panda_data

[ {
  "tag" : "li",
  "iid" : "size",
  "style" : null,
  "text" : null,
  "href" : null,
  "label" : null,
  "x" : 0,
  "y" : 0,
  "height" : 0,
  "width" : 0
}, {
  "tag" : "div",
  "iid" : "color",
  "style" : null,
  "text" : null,
  "href" : null,
  "label" : null,
  "x" : 0,
  "y" : 0,
  "height" : 0,
  "width" : 0
} ]

   height  href    iid label style  tag  text  width  x  y
0       0  None   size  None  None   li  None      0  0  0
1       0  None  color  None  None  div  None      0  0  0